body {
	width: 100%;
}
.header {
/*	width: 100%;
	height: 70px;*/
	font-size: 1.45em;
}
/*
.logoImg {
	width: 60px;
}

.custom_header h1 {
	float: left;
}
*/
.follow {
	float: right;
	border: yellow 1px solid;
}
#popupMenu {
	width: 40px;
}
h3 {
	color: black;
}
h1 {
	text-align: center;
}
#page1Main h3 {
	text-align: center;
}
/*
.homeTable {
	width: 30%;
	float: left;
	color: white;
}
#page1Table th {
	text-align: center;
}
#page1Table td {
	text-align: center;
}*/
#imgRotate img{
	width: 60%;
	height: 300px;
	margin-right: 15px;
	float: right;
	border-radius: 0.6em;
}
#page2Img img{
	border-radius: 0.6em;
}

/* Page 3 */
.page3Details h3 {
	float: left;
}
.page3Details p{
	color: black;
	float: left;
}
.tablist-left {
	width: 60%;
	display: inline-block;
}
#one p {
	color: black;
}
#one {
	width: 80%;
	margin: 0 auto;
}
#one label {
	margin-right: 3px;
}
form {
	width: 60%;	
	margin: 0 auto;
}
@media only screen and (max-width: 650px) {
	.homeTable {
		width: 100%;
		float: left;
		color: white;
	}
	#page1Table {
		width: 100%;
	}
	#imgRotate img {
		width: 100%;
		height: 300px;
		float: none;
	}
}
/* BlogPost Page */

#blogpost {
	color: black;
}

/* Video Page */
#videoContent {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
#videoContent img {
	width: 100%;
	height: 150px;
		margin: 0 auto;
}
#videoList {
	margin:auto;
}
.videoTitle {
    border-top: blue 2px solid;
	font-size: 1.2em;
	text-align: center;
}
iframe {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}
#playground {
	width: 100%;
}
.videoContainer {
	width: 80%;
	height: 200px;
	margin-bottom: 25px;
			margin: 0 auto;

}